//GRID
$mw: 1180px;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;

body{
	@media (max-width: $md3+px){
		&.lock{
			overflow: hidden;
		}
	}
}
main {
	flex: 1 1 auto;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.contant {
	font-size: 14px;
	&__main-block {
	}
	&__about {
	}
	&__services {
	}
	&__gallery {
	}
	&__testimonial {
	}
	&__news {
	}
	&__team {
	}
	&__subscribe {
	}
	&__contact {
	}
	&__map {
	}
	&__buy {
	}
}

.contant-gallery {
	background-color: #F7F7F7;
}

.title-block {
	font-family: Poppins;
	font-size: 36px;
	line-height: 1.33;
	font-weight: 500;
	color: $titleClr;
	text-align: center;
	@media (max-width: $md3+px){
		font-size: 26px;
	}
}

//main block======================================
.main-block {
	position: relative;
	&__body {
		padding: 309px 0px 141px 0px;
		position: relative;
		z-index: 2;
		@media (max-width: $md3+px){
			padding: 200px 0px 140px 0px;
		}
		@media (max-width: $md4+px){
			padding: 150px 0px 80px 0px;
		}
	}
	&__text {
		@include flexbox();
		justify-content: center;
		align-items: center;
		font-size: 18px;
		line-height: 48px;
		font-weight: 400;
		letter-spacing: 0.01em;
		color: #ffffff;
		text-align: center;
		position: relative;
		@media (max-width: $md2+px){
			font-size: 20px;
		}
		&::after {
			position: absolute;
			content: "";
			width: 80px;
			height: 2px;
			background-color: #fff;
			bottom: 0;
			left: 46.5%;
			@media (max-width: $md2+px){
				display: none;
			}
		}
	}
	&__title {
		font-family: Poppins;
		font-size: 60px;
		line-height: 0.8;
		font-weight: 500;
		letter-spacing: 0.01em;
		color: #ffffff;
		text-align: center;
		padding:  95px 0px 0px 0px;
		@media (max-width: $md3+px){
			font-size: 35px;
			padding:  40px 0px 0px 0px;
		}
		@media (max-width: $md4+px){
			font-size: 25px;
			padding:  40px 0px 0px 0px;
		}
	}
	&__isons {
		@include flexbox();
		margin: 87px 0px 0px 0px;
		justify-content: center;
		align-items: center;
		@media (max-width: $md3+px){
			margin: 40px 0px 0px 0px;
		}
	}
	&__ison {
		min-width: 40px;
		min-height: 40px;
		border-radius: 50%;
		border: 2px solid #fff;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: rgba(0, 0, 0, 0.3);
			transition: all 0.3s ease 0s;
			border: 2px solid transparent;
		}
		&_facebook{
			background: url(../img/main/facebook.png) center no-repeat;
		}
		&_twitter{
			background: url(../img/main/twitter.png) center no-repeat;
		}
		&_sub{
			background: url(../img/main/suscription.png) center no-repeat;
		}
		&_vk{
			background: url(../img/main/vk.png) center no-repeat;
		}
		&:not(:last-child) {
			margin: 0px 12px 0px 0px;
		}
	}
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img {
			@media (max-width: $md3+px){
				object-position: right;
			}
		}
	}
}

//about====================================================
.about {
	&__body {
		padding: 80px 100px;
		@include flexbox();
		justify-content: space-between;
		flex-wrap: wrap;
		font-size: 14px;
		@media (max-width: 1200px){
			padding: 80px 0px;
		}
		@media (max-width: $md3+px){
			padding: 40px 0px;
		}
	}
	&__column {
		flex: 0 1 43.7%;
		&:last-child {
			flex: 0 1 56.3%;
			@media (max-width: $md2+px){
				flex: 1 1 100%;
				min-height: 300px;
			}
			@media (max-width: $md4+px){
				min-height: 200px;
			}
		}
		@media (max-width: $md2+px){
			flex: 1 1 100%;
		}
	}
	&__item{
		margin: 0px 20px 0px 0px;
	}
	&__title {
		font-family: Poppins;
		padding:  10px 0px 0px 0px;
		font-size: 36px;
		line-height: 36px;
		font-weight: 500;
		color: $titleClr;
		&:not(:last-child){
			margin: 0px 0px 20px 0px;
			@media (max-width: $md3+px){
				margin: 0px 0px 0px 0px;
			}
		}
		@media (max-width: $md3+px){
			font-size: 25px;
		}
		@media (max-width: $md4+px){
			font-size: 20px;
		}
	}
	&__text {
		padding:  0px 0px 60px 0px;
		font-size: 12px;
		line-height: 2.0;
		font-weight: 300;
		letter-spacing: 0.01em;
		color: #999999;
		p:not(:last-child){
			margin: 0px 0px 20px 0px;
		}
		@media (max-width: $md2+px){
			padding: 0px 0px 10px 0px;
		}
	}
	&__image{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img {
			@media (max-width: $md3+px){
				object-position: right;
			}
		}
	}
}

//services========================================================

.services {
	background-color: #f7f7f7;
	padding:  0px 0px 30px 0px;
		&__title {
			padding:  90px 0px 75px 0px;
			@media (max-width: $md2+px){
				padding: 40px 0px 20px 0px;
			}
			@media (max-width: $md3+px){
				padding: 40px 0px 0px 0px;
			}
		}
		&__body {
			padding: 0px 90px 73px 90px;
			@include flexbox();
			justify-content: space-between;
			flex-wrap: wrap;
			@media (max-width: 1200px){
				padding: 0px 0px 73px 0px;
			}
			@media (max-width: $md2+px){
				padding: 0px 0px 40px 0px;
			}
			@media (max-width: $md3+px){
				padding: 0px 0px 0px 0px;
			}
		}
		&__column {
			flex: 0 1 50%;
			@media (max-width: $md3+px){
				flex: 1 1 auto;
			}
		}
		&__items {
		}
}

.item-services {
	@include flexbox();
	justify-content: space-between;
	font-size: 14px;
	&-left{
		margin: 0px 45px 0px 0px;
		@media (max-width: $md2+px){
			margin: 0px 15px 0px 0px;
		}
		@media (max-width: $md3+px){
			margin: 0px 0px 0px 0px;
		}
	}
	&-right{
		margin: 0px 0px 0px 45px;
		@media (max-width: $md2+px){
			margin: 0px 0px 0px 15px;
		}
		@media (max-width: $md3+px){
			margin: 0px 0px 0px 0px;
		}
	}
	&__column {
	}
	&__body {
		&-left{
			margin: 0px 30px 0px 0px;
			@media (max-width: $md2+px){
				margin: 0px 0px 0px 0px;
			}
		}
		&-right{
			margin: 0px 0px 0px 30px;
			@media (max-width: $md2+px){
				margin: 0px 0px 0px 0px;
			}
		}
	}
	&__title {
		font-family: Poppins;
		font-size: 16px;
		line-height: 1.5;
		font-weight: 500;
		letter-spacing: 0.01em;
		color: #000;
		transition: all 0.3s ease 0s;
		&:hover {
			color: $titleClr;
			transition: all 0.3s ease 0s;
		}
		&:not(:last-child){
			padding:  0px 0px 10px 0px;
		}
		&-left{
			text-align: right;
			@media (max-width: $md3+px){
				text-align: center;
			}
		}
		&-right{
			text-align: left;
			@media (max-width: $md3+px){
				text-align: center;
			}
		}
		@media (max-width: $md2+px){
			font-size: 14px;
		}
		@media (max-width: $md3+px){
			margin:  30px 0px 0px 0px;
		}
	}
	&__text {
		font-size: 12px;
		line-height: 1.66;
		font-weight: 400;
		letter-spacing: 0.01em;
		color: #999999;
		&-left{
			text-align: right;
			@media (max-width: $md3+px){
				text-align: center;
			}
		}
		&-right{
			text-align: left;
			@media (max-width: $md3+px){
				text-align: center;
			}
		}
	}
		&__icon {
			height: 102px;
			width: 102px;
			border-radius: 50%;
			border: 1px solid #acacac;
			transition: all 0.3s ease 0s;
			@media (max-width: $md3+px){
				display: none;
			}
			&-left{
				margin: 0px 0px 0px 30px;
				@media (max-width: $md3+px){
					margin: 0px 0px 0px 15px;
				}
			}
			&-right{
				margin: 0px 30px 0px 0px;
				@media (max-width: $md3+px){
					margin: 0px 15px 0px 0px;
				}
			}
			&-one{
				background: #E1E1E1 url("../img/services/1.png") center no-repeat;
				&:hover {
					background: #F44336 url("../img/services/1.png") center no-repeat;
					transition: all 0.3s ease 0s;
				}
			}
			&-two{
				background: #E1E1E1 url("../img/services/2.png") center no-repeat;
				&:hover {
					background: #F44336 url("../img/services/2.png") center no-repeat;
					transition: all 0.3s ease 0s;
				}
			}
			&-three{
				background: #E1E1E1 url("../img/services/3.png") center no-repeat;
				&:hover {
					background: #F44336 url("../img/services/3.png") center no-repeat;
					transition: all 0.3s ease 0s;
				}
			}
			&-four{
				background: #E1E1E1 url("../img/services/4.png") center no-repeat;
				&:hover {
					background: #F44336 url("../img/services/4.png") center no-repeat;
					transition: all 0.3s ease 0s;
				}
			}
			&-five{
				background: #E1E1E1 url("../img/services/5.png") center no-repeat;
				&:hover {
					background: #F44336 url("../img/services/5.png") center no-repeat;
					transition: all 0.3s ease 0s;
				}
			}
			&-six{
				background: #E1E1E1 url("../img/services/6.png") center no-repeat;
				&:hover {
					background: #F44336 url("../img/services/6.png") center no-repeat;
					transition: all 0.3s ease 0s;
				}
			}
		}
}

//gallery=============================================================
.gallery {
padding:  0px 0px 156px 0px;
@media (max-width: $md2+px){
	padding:  0px 0px 30px 0px;
}
	&__title {
		padding: 90px 0px;
		@media (max-width: $md2+px){
			padding: 40px 0px;
		}
	}

	&__body {
	}
	&__items {
		@include flexbox();
		justify-content: space-between;
		flex-wrap: wrap;
		font-size: 14px;
		margin: 0px -15px -30px;
		&:not(:last-child) {
			padding:  0px 0px 90px 0px;
			@media (max-width: $md2+px){
				padding: 0px 0px 30px 0px;
			}
		}
		@media (max-width: $md2+px){
			justify-content: center;
		}
	}
	&__showmore {
		padding:  90px 0px 0px 0px;
		@media (max-width: $md2+px){
			padding: 60px 0px 0px 0px;
		}
		@media (max-width: $md3+px){
			padding: 30px 0px 0px 0px;
		}
	}
}

.item-gallery {
	&__body {
		flex: 0 1 25%;
		padding: 0px 15px;
		margin: 0px 0px 30px 0px;
		height: 100%;
		max-width: 271px;
		@media (max-width: $md2+px){
			flex: 0 1 50%;
		}
		@media (max-width: 600px){
			flex: 0 1 100%;
			max-width: 250px;
		}
	}
	&__image {
		padding-top: 378px;
		display: block;
		@media (max-width: 600px){
			padding-top: 300px;
		}
	}
	&__content {
		background-color: #f7f7f7;
		padding:  0px 0px 13px 0px;
	}
	&__title {
		height: 61px;
		overflow: hidden;
		padding: 18px 0px 0px 0px;
		font-family: Poppins;
		font-size: 14px;
		line-height: 20px;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.01em;
		color: #000000;
		span{
			text-transform: none;
			font-family: $fontfamily;
		}
	}
	&__button {
		@include flexbox();
		justify-content: center;
		align-items: center;
		a{
			display: block;
			padding: 8px 70px;
			font-family: Poppins;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 0.01em;
			color: #ffffff;
			text-align: center;
			background-color: #f44336;
			transition: all 0.3s ease 0s;
			&:hover {
				background-color: #a5180e;
				transition: all 0.3s ease 0s;
			}
		}
	}
}

.gallery-gallery {
	padding: 240px 0px 0px 0px;
	@media (max-width: $md2+px){
		padding: 160px 0px 0px 0px;
	}
	@media (max-width: $md3+px){
		padding: 100px 0px 0px 0px;
	}
}

.showmore {
	&__button {
		@include flexbox();
		justify-content: center;
		align-items: center;
		text-align: center;
		a{
			display: block;
			position: relative;
			font-size: 16px;
			border: 1px solid #000000;
			padding: 10px 35px;
			color: #000;
			letter-spacing: 0.01em;
			font-weight: 400;
			transition: all 0.3s ease 0s;
			&:hover {
				transition: all 0.3s ease 0s;
				&::after {
					position: absolute;
					content: url("../../img/gallery/page/our_gallery/arrow_icon.png");
					right: 20px;
					bottom: 20;
				}
			}
		}
	}
}

//testimonial=================================================
.testimonial {
	position: relative;
	padding: 85px 0px 98px 0px;
	@media (max-width: $md2+px){
		padding: 40px 0px 40px 0px;
	}
	&__body {
		position: relative;
		z-index: 2;
	}
	&__title {
		padding: 0px 0px 90px 0px;
		font-family: Poppins;
		font-size: 48px;
		line-height: 1;
		font-weight: 500;
		color: #ffffff;
		text-align: center;
		@media (max-width: $md2+px){
			padding: 0px 0px 40px 0px;
		}
		@media (max-width: $md3+px){
			font-size: 26px;
		}
		@media (max-width: 520px){
			padding: 0px 0px 20px 0px;
		}
	}

	&__icon {
		padding: 0px 0px 51px 0px;
		opacity: 0.7;
		text-align: center;
		img {
			@media (max-width: $md3+px){
				max-width: 25px;
			}
		}
		@media (max-width: $md3+px){
			padding: 0px 0px 40px 0px;
		}
		@media (max-width: 520px){
			padding: 0px 0px 20px 0px;
		}
	}
	&__content {
		position: relative;
		padding: 0px 123px;
		color: #fff;
		text-align: center;
		&::before{
			padding: 10px 0px;
			position: absolute;
			content: url("../../img/testimonial/2.png");
			top: 15px;
			left: 0;
			width: 37px;
			height: 37px;
			border: 1px solid #fff;
		}
		&::after{
			padding: 10px 0px;
			position: absolute;
			content: url("../../img/testimonial/3.png");
			top: 15px;
			right: 0;
			width: 37px;
			height: 37px;
			border: 1px solid #fff;
		}
		@media (max-width: $md2+px){
			padding: 0px 80px;
		}
		@media (max-width: 520px){
			padding: 0px 50px;
		}
	}
	&__text {
		padding:  0px 0px 30px 0px;
		font-size: 14px;
		font-weight: 300;
		line-height: 1.71;
		@media (max-width: $md3+px){
			line-height: 1.5;
		}
	}
	&__author {
		font-size: 16px;
		line-height: 1.2;
		span{
			font-weight: 700;
		}
		@media (max-width: $md3+px){
			font-size: 14px;
		}
	}
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img{
			@media (max-width: 1200px){
				object-position: right;
			}
			@media (max-width: 500px){
				object-position: center;
			}
		}
	}
}

//news================================================
.news {
	padding: 95px 0px 95px 0px;
	@media (max-width: 1200px){
		padding: 60px 0px 60px 0px;
	}
	@media (max-width: $md3+px){
		padding: 40px 0px 60px 0px;
	}
	&__title {
		padding:  0px 0px 100px 0px;
		@media (max-width: 1200px){
			padding:  0px 0px 40px 0px;
		}
		@media (max-width: $md3+px){
			padding:  0px 0px 20px 0px;
		}
	}
	&__body {
	}
	&__items {
	}
}

.item-news {
	@include flexbox();
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 14px;
	margin: 0px -45px;
	@media (max-width: 1200px){
		margin: 0px -15px;
	}
	&__body {
		flex: 0 1 47.2%;
		padding: 0px 45px;
		@media (max-width: 1200px){
			padding: 0px 15px;
			flex: 1 1 100%;
		}
		&:last-child{
			flex: 0 1 52.8%;
			@media (max-width: 1200px){
				flex: 1 1 100%;
			}
		}
	}
	&__item {
	}
	&__title {
		font-family: Poppins;
		font-size: 24px;
		line-height: 2;
		font-weight: 500;
		color: #000000;
		position: relative;
		&-events {
			border-bottom: 1px solid #c5c5c5;
			&::after,
			&::before {
				position: absolute;
				bottom: 0;
				right: 0;
				font-family: Poppins;
				font-size: 34px;
				font-weight: 500;
				color: #000000;
				@media (max-width: $md3+px){
					font-size: 23px;
				}
			}
			&::after{
				content: "<";
				margin-right: 25px;
				@media (max-width: $md3+px){
					margin-right: 30px;
				}
			}
			&::before{
				content: ">";
				@media (max-width: $md3+px){
					margin-right: 5px;
				}
			}
			@media (max-width: 1200px){
				padding:  40px 0px 0px 0px;
			}
		}
		@media (max-width: 1200px){
			text-align: center;
		}
		@media (max-width: $md3+px){
			font-size: 20px;
		}
	}
	&__content {
	}
}

.latest-news {
	&__body {
		@include flexbox();
		justify-content: space-between;
		margin: 20px 0px 0px 0px;
		&:not(:last-child){
			padding:  0px 0px 30px 0px;
		}
		@media (max-width: 1200px){
			justify-content: center;
		}
		@media (max-width: $md3+px){
			margin: 10px 0px 0px 0px;
		}
	}
	&__column {
		@media (max-width: 600px){
			flex: 1 1 auto;
		}
	}
	&__date {
		margin: 0px 0px 0px 20px;
		font-family: Poppins;
		font-weight: 500;
		line-height: 1.5;
		width: 98px;
		height: 139px;
		border: 1px solid #e8e8e8;
		border-radius: 49px;
		text-align: center;
		padding: 25px 0px;
		background-color: #F7F7F7;
		@media (max-width: $md3+px){
			width: 68px;
			height: 100px;
			padding: 10px 0px;
		}
		&-date {
			font-size: 32px;
			color: #000000;
			@media (max-width: $md3+px){
				font-size: 20px;
			}
		}
		&-month {
			font-size: 14px;
			color: #9e9e9e;
		}
		&-year {
			font-size: 13px;
			font-style: italic;
			color: #9e9e9e;
		}
		@media (max-width: 1200px){
			margin: 0px 20px 0px 20px;
		}
	}
	&__content {
		max-width: 320px;
		margin: 20px 0px 0px 0px;
		@media (max-width: 1200px){
			max-width: 100%;
		}
		@media (max-width: $md3+px){
			margin: 0px 0px 0px 0px;
		}
	}
	&__title {
		font-size: 16px;
		line-height: 3;
		font-weight: 700;
		color: $titleClr;
		@media (max-width: $md4+px){
			line-height: 1.71;
		}
	}
	&__text {
		font-size: 14px;
		line-height: 1.71;
		font-weight: 300;
		color: #9e9e9e;
	}
}

.events {
	&__body {
		padding:  30px 0px 0px 0px;
		@media (max-width: 1200px){
			max-width: 570px;
			margin: 0 auto;
		}
	}
	&__images {
		@include flexbox();
		background-color: #c5c5c5;
		@media (max-width: 600px){
			max-width: 310px;
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: $md4+px){
			background-color: transparent;
		}
		img{
			display: block;
			flex: 0 1 33.333%;
			height: 120px;
			@media (max-width: 600px){
				&:last-child {
					display: none;
				}
			}
			@media (max-width: $md4+px){
				display: none;
				&:first-child{
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
	&__items {
	}
}

.item-events {
	padding:  20px 0px 0px 0px;
	&__item {
	}

	&__title {
		font-size: 16px;
		line-height: 48px;
		font-weight: 700;
		padding:  0px 0px 0px 20px;
		position: relative;
		&:before, 
		&:after{
			content: '';
			background-color: #000;
			position: absolute;
			width: 10px;
			height: 2px;
			left: 0;
			bottom: 50%;
			transition: all 0.3s ease 0s;
		}
		&:before{
			transform:rotate(90deg);
		}
		&.open-block:before{
			transform:rotate(0deg);
			transition: all 0.3s ease 0s;
		}
	}
	&__text {
		padding: 40px 13px;
		background-color: #F5F5F5;
		font-size: 14px;
		line-height: 1.71;
		font-weight: 300;
		color: #505050;
		display: none;
		transition: all 0.8s ease 1s;
		&.display-block {
			display: block;
			transition: all 0.3s ease 1s;
		}
		@media (max-width: 600px){
			padding: 20px 13px;
		}
	}
}

//team==============================================
.team {
	background-color: #f7f7f7;
	padding:  98px 0px 110px 0px;
	@media (max-width: $md2+px){
		padding:  60px 0px 60px 0px;
	}
	@media (max-width: $md3+px){
		padding:  40px 0px 40px 0px;
	}
	&__title {
		margin: 0px 0px 60px 0px;
		@media (max-width: $md2+px){
			margin: 0px 0px 40px 0px;
		}
	}
	&__body {
		@include flexbox();
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 -15px -30px;
		@media (max-width: 1200px){
			justify-content: center;
		}
	}
	&__column {
		flex: 0 1 25%;
		padding: 0 15px;
		@media (max-width: 1200px){
			flex: 0 1 50%;
			padding: 0 15px 30px;
		}
	}
}

.column-team{
	@include flexbox();
	justify-content: center;
	width: 275px;
	&__body{
		
	}
	&__image {
		padding-top: 405px;
		width: 270px;
		display: block;
		@media (max-width: 1200px){
			max-width: 270px;
		}
	}
	&__items {
	}
}

.item-team {
	&__name {
		font-family: Poppins;
		font-size: 24px;
		line-height: 1.71;
		font-weight: 500;
		color: $titleClr;
		padding:  15px 0px 0px 0px;
	}
	&__text {
		font-size: 16px;
		font-weight: 300;
		color: #838383;
	}
	&__social {
		@include flexbox();
		margin: 17px 0px 0px 0px;
	}
	&__icon {
		display: block;
		width: 30px;
		height: 30px;
		border: 2px solid #000000;
		transition: all 0.3s ease 0s;
		&:not(:last-child) {
			margin: 0px 17px 0px 0px;
		}
		&:hover {
			opacity: 0.5;
			transition: all 0.3s ease 0s;
		}
	}
	&__icon-facebook {
		background: url(../img/team/facebook.png) center no-repeat;
	}
	&__icon-twitter {
		background: url(../img/team/twitter.png) center no-repeat;
	}
	&__icon-suscription {
		background: url(../img/team/suscription.png) center no-repeat;
	}
	&__icon-vk {
		background: url(../img/team/vk.png) center no-repeat;
	}
}

//subscribe=======================================================
.subscribe {
	position: relative;
	padding: 86px 0px 80px 0px;
	@media (max-width: $md2+px){
		padding: 60px 0px 60px 0px;
	}
	@media (max-width: $md3+px){
		padding: 40px 0px 40px 0px;
	}
	&__body {
		position: relative;
		z-index: 2;
		
	}

	&__title {
		font-family: Poppins;
		font-size: 48px;
		line-height: 1;
		font-weight: 500;
		color: #ffffff;
		text-align: center;
		@media (max-width: $md2+px){
			font-size: 30px;
		}
		@media (max-width: $md4+px){
			font-size: 25px;
		}
	}

	&__form {
		@include flexbox();
		justify-content: center;
		padding:  53px 0px 0px 0px;
		@media (max-width: $md2+px){
			padding: 40px 0px 0px 0px;
		}
		@media (max-width: 600px){
			flex-direction: column;
		}
	}

	&__input {
		margin: 0px 12px 0px 0px;
		width: 499px;
		padding: 0px 30px;
		color: #8e8e8e;
		font-size: 14px;
		outline: 1px solid transparent;
		transition: all 0.3s ease 0s;
		&:hover {
			outline: 1px solid #000;
			transition: all 0.3s ease 0s;
		}
		@media (max-width: 600px){
			min-height: 53px;
			width: 100%;
			margin: 0px 0px 20px 0px;
		}
	}

	&__button {
		@include flexbox();
		background-color: $titleClr;
		min-height: 53px;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		font-weight: 300;
		color: #fff;
		padding: 0px 33px;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #a5180e;
			transition: all 0.3s ease 0s;
		}
		@media (max-width: 600px){
			width: 100%;
		}
	}
	&__image{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

//contact==================================================
.contact {
	padding:  97px 0px 96px 0px;
	@media (max-width: $md2+px){
		padding: 60px 0px 60px 0px;
	}
	@media (max-width: $md3+px){
		padding: 40px 0px 40px 0px;
	}
	&__title {
		padding:  0px 0px 89px 0px;
		@media (max-width: $md2+px){
			padding: 0px 0px 40px 0px;
		}
		@media (max-width: $md3+px){
			padding: 0px 0px 20px 0px;
		}
	}
	&__body {
		@include flexbox();
		justify-content: space-between;
		margin: 0px -10px;
		padding: 0px 100px;
		@media (max-width:1200px){
			padding: 0px 0px 0px 0px;
		}
		@media (max-width: $md2+px){
			flex-direction: column;
		}
	}
	&__items {
		flex: 0 1 50%;
		padding: 0px 10px;
		@media (max-width: $md2+px){
			flex: 1 1 100%;
		}
	}
}

.getintouch {
	&__body {
		width: 390px;
		@media (max-width: $md2+px){
			margin: 0px 0px 40px 0px;
		}
		@media (max-width: 400px){
			width: 320px;
		}
	}
	&__title{
		font-size: 26px;
		line-height: 1.86;
		font-weight: 400;
		color: $titleClr;
		@media (max-width: $md3+px){
			font-size: 20px;
		}
	}
	&__text {
		font-size: 14px;
		line-height: 1.21;
		font-weight: 300;
		color: #9e9e9e;
		span{
			color:$titleClr;
		}
		p{
			&:not(:last-child){
				padding:  0px 0px 20px 0px;
			}
		}
	}
}

.contact-form {
	&__form {
		@include flexbox();
		flex-direction: column;
	}
	&__input {
		min-height: 42px;
		border: 1px solid #999999;
		padding: 0px 16px;
		font-size: 14px;
		transition: all 0.3s ease 0s;
		&:not(:last-child){
			margin:  0px 0px 20px 0px;
		}
		&:hover {
			border: 1px solid #000;
			transition: all 0.3s ease 0s;
		}
		&:focus {
			border: 1px solid #000;
		}
		@media (max-width: 500px){
			width: 100%!important;
		}
	}
	&__textarea {
		padding: 13px 16px ;
		min-height: 168px;
		line-height: 1.21;
		text-align: top;
		resize: none;
	}
	&__button {
		@include flexbox();
		justify-content: center;
		text-align: center;
		align-items: center;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		background-color: $titleClr;
		color: #fff;
		min-height: 40px;
		max-width: 30%;
		padding: 0px 46px;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #a5180e;
			transition: all 0.3s ease 0s;
		}
		@media (max-width: 600px){
			max-width: 100%;
		}
	}
}

.contact-contact {
	padding: 250px 0px 100px 0px;
	background-color: #E9E9E9;
	@media (max-width: $md2+px){
		padding:  160px 0px 60px 0px;
	}
	@media (max-width: $md3+px){
		padding:  140px 0px 40px 0px;
	}
}
.getintouch__text-page{
	color: #000;
}
.contact-form__input-page{
	border: 1px solid #000;
	&:hover {
		border: 1px solid #999;
		transition: all 0.3s ease 0s;
	}
	&:focus {
		border: 1px solid #999;
	}
}

.contact-gallery {
	padding:  170px 0px 170px 0px;
	@media (max-width: $md2+px){
		padding:  60px 0px 60px 0px;
	}
	@media (max-width: $md3+px){
		padding:  40px 0px 40px 0px;
	}
}
//map======================================
.map {
	padding:  0px 0px 90px 0px;
	@media (max-width: $md2+px){
		padding:  0px 0px 60px 0px;
	}
	@media (max-width: $md2+px){
		padding:  0px 0px 40px 0px;
	}
	&__title {
		padding:  0px 0px 25px 0px;
	}
	&__body {
		iframe {
			width: 100%;
			height: 298px;
			@media (max-width: $md3+px){
				height: 200px;
			}
		}
	}
}

.map-contact{
	padding:  100px 0px 100px 0px;
	@media (max-width: $md2+px){
		padding:  60px 0px 60px 0px;
	}
	@media (max-width: $md3+px){
		padding:  40px 0px 40px 0px;
	}
}

.map-gallery {
	padding:  0px 0px 170px 0px;
	@media (max-width: $md2+px){
		padding:  0px 0px 60px 0px;
	}
	@media (max-width: $md3+px){
		padding:  0px 0px 40px 0px;
	}
	&__title {
		padding:  0px 0px 105px 0px;
	}
}

//buy===================================================
.buy {
	padding:  170px 0px 0px 0px;
	@media (max-width: $md2+px){
		padding:  60px 0px 0px 0px;
	}
	@media (max-width: $md3+px){
		padding:  40px 0px 0px 0px;
	}
	&__body {
		@include flexbox();
		justify-content: space-between;
		flex-wrap: wrap;
		font-size: 14px;
	}
	&__item {
		flex: 0 1 50%;
		padding: 152px 110px;
		@media (max-width: 1500px){
			flex: 1 1 100%;
		}
		@media (max-width: $md2+px){
			padding: 100px 20px;
		}
		@media (max-width: $md3+px){
			padding: 50px 10px;
		}
	}
}

.item-buy {
	position: relative;
	&__body {
		position: relative;
		z-index: 2;
	}
	&__text {
		font-family: Poppins;
		font-size: 18px;
		line-height: 2;
		font-weight: 500;
		text-transform: uppercase;
		color: #010101;
		padding:  0px 0px 5px 0px;
	}
	&__title {
		font-family: 'Myriad Pro';
		font-size: 36px;
		line-height: 1;
		font-weight: 400;
		color: $titleClr;
		padding:  0px 0px 20px 0px;
		@media (max-width: $md3+px){
			font-size: 25px;
		}
	}
	&__price {
		padding:  0px 0px 10px 0px;
		font-family: Poppins;
		line-height: 48px;
		font-size: 36px;
		font-weight: 300;
		color: #8c8c8c;
		@media (max-width: $md3+px){
			color: #000000;
			font-size: 16px;
		}
		&-bold {
			font-size: 62px;
			color: #000000;
			@media (max-width: $md3+px){
				font-size: 25px;
			}
		}
		&-line {
			text-decoration: line-through;
		}
	}
	&__button {
		@include flexbox();
		justify-content: flex-start;
		align-items: center;
		a{
			text-align: center;
			font-size: 30px;
			font-weight: 500;
			letter-spacing: 0.01em;
			color: #ffffff;
			background-color: $titleClr;
			padding: 15px 110px;
			border: 1px solid #000000;
			transition: all 0.3s ease 0s;
			&:hover {
				background-color: #a5180e;
				transition: all 0.3s ease 0s;
			}
			@media (max-width: $md3+px){
				font-size: 16px;
				padding: 10px 50px;
			}
		}
	}
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img {
			@media (max-width: $md3+px){
				opacity: 0.7;
			}
		}
	}
}



//font-family: 'Poppins', sans-serif;
//font-family: 'ARIALN';
//font-family: 'Myriad Pro';
